
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WorkStudie</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'styles/carousel.css' %}" rel="stylesheet">

    <link href="{% static 'css/about_us.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<!-- NAVBAR
================================================== -->
  <body>
   {% include 'navbar.html' %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="horrible_class_name carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>What is WorkStudie?</h1>
              <p>WorkStudie is a platform similar to cragslist where people are allow to post task for cash rewards, except that WorkStudie is designed in paticular for college students who live hetic and at times lazy lives. If you ever have a task you don't want to do post it and another trusted memember of you're own student body will complete it for you.</p>
            </div>
          </div>
        </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="horrible_class_name featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Studiers<span class="text-muted">, create the task.</span></h2>
          <p class="lead">A studier is someone who has a task that needs doing, but doesn't have the desire or motivation to do it. Examples would be cleaning, help tutoring, grocery shopping, laundry, help moving, or any task that they can think of. They set a price they are willing to pay and then workers bid to complete the task and the studier will choose their worker.</p>
          <p><a class="button btn btn-lg btn-primary" href="{% url 'users:studier_application' %}" role="button">Apply to be a studier today</a></p>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <h2 class="featurette-heading">Workers<span class="text-muted">, get paid to complete the tasks.</span></h2>
          <p class="lead">Workers are college students who are a little low on cash or just looking to make some more cash. Once They bid to complete a task they will complete the task in a timely manor.</p>
          <p><a class="button btn btn-lg btn-primary" href="{% url 'users:worker_application' %}" role="button">Apply to be a worker</a></p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading"> Coming<span class="text-muted">, to your college soon.</span></h2>
          <p class="lead">We at WorkStudie believe we will be at every college in the US, eventually, but if you trully want us to come to you're college. We will expand to the college with the most request first.</p>
          <p><a class="button btn btn-lg btn-primary" href="#" role="button">Request</a></p>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
