container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: workstudy/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: workstudy.settings
  - option_name: AWS_SECRET_KEY
    value: 62CN/LMNQ1d4ioXeCrzJ1BrGt5YQSfPpKgfyvSaw
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIZISZX5KRPWNWO5Q