<head>
    {% load static %}
    <link type="text/css" href="{% static 'css/navbar.css' %}" rel="stylesheet">
    
</head>

<nav id ="square" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="brand hover" href="{% url 'home' %}">WorkStudie</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav color">
        
        {% if not user.is_authenticated %}
        <a class="brand item" href="{% url 'users:application' %}">Apply</a><
        {% else %}
        
          {% if user.profile %}
            <li><a class="brand item" href="{% url 'users:my_profile' %}">My Profile</a></li>
          {% endif %}
        
        <li><a class="brand item" href="{% url 'tasks:task_list' %}">Tasks</a></li>
        {% endif %}
      
      </ul>
      
      {% if user.is_authenticated %}
        
        {% if not user.profile %}
         
        <form action="{% url 'users:create_profile' %}" class="navabar-form navbar-right">
          <button type="submit" class="userButton btn btn=default button" >Create Profile</button>
        </form>
        
        {% else %}
       
        <form action="{% url 'users:logout' %}" class="navabar-form navbar-right">
          <button type="submit" class="button btn btn=default" >Logout</button>
        </form>
        
        <form  action="{% url 'tasks:create_task' %}" class="navabar-form navbar-right">
          <button type="submit" id="createTask" class="button btn btn=default"  >Create a Task</button>
        </form>

        {% endif %}
      
      {% else %}
             
          <form method="POST" action="{% url 'users:login' %}" class="navbar-form navbar-left" role="form">
            {% csrf_token %}

            <div class="form-group">
              <input type="email" placeholder="Email" id='email' name ='email'class="forms form-control">
            </div>
            
            <div class="forms form-group">
              <input type="password" name='password' placeholder="Password" id='password' class=" forms form-control">
            </div>
            
            <button type="submit" class="button btn btn-success">Sign in</button>
      
      {% endif %}

    </div>
  </div>
</nav>



          
