<head>
{% load static %}
<link type="text/css" href="{% static 'css/navbar.css' %}" rel="stylesheet">
</head>

<nav id ="square" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white" href="{% url 'home' %}">WorkStudie</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav color">
        {% if not user.is_authenticated %}
        <li><a style="color:white" href="{% url 'account:application' %}">Apply</a></li>
        {% else %}
        <li><a style="color:white" href="{% url 'account:my_profile' %}">Profile</a></li>
        <li><a style="color:white" href="{% url 'task:task_list' %}">Tasks</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        
         <form action="{% url 'account:create_profile' %}" class="navabar-form navbar-right">
          <button type="submit" class="userButton btn btn=default" >Create Profile</button>
         </form>
         
         <form  action="{% url 'task:create_task' %}" class="navabar-form navbar-right">
          <button type="submit" id="createTask" class="userButton btn btn=default"  >Create a Task</button>
        </form>

        <form action="{% url 'account:logout' %}" class="navabar-form navbar-right">
          <button type="submit" class="userButton btn btn=default" >Logout</button>
        </form>

       

       
        

      
      {% else %}
    
             
          <form method="POST" action="{% url 'account:login' %}" class="navbar-form navbar-left" role="form">
            {% csrf_token %}

            <div class="form-group">
              <input type="email" placeholder="Email" id='email' name ='email'class="forms form-control">
            </div>
            
            <div class="forms form-group">
              <input type="password" name='password' placeholder="Password" id='password' class=" forms form-control">
            </div>
            
            <button type="submit" class="button btn btn-success">Sign in</button>
      
      
      {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



          