<head>
	<title>{{ user.first_name }} {{ user.last_name }}</title>
</head>

<body>
	{% if user.is_worker %}
		<div>
			<h3>
				Worker: {{ user.first_name }} {{ user.last_name }}
			</h3>
		</div>
	{% else %}
		<div>
			<h3>
				Studier: {{ user.first_name }} {{ user.last_name }}
			</h3>
		</div>
	{% endif %}
	<ul>
		{% if user.is_worker %}
			<li> Task Completed: {{ tasks_completed }} </li>
		{% endif %}
		<li>Majoring in: {{ major }}</li>
		<a href="{% url 'task:user_tasks' %}"><li>Task Made: {{ tasks_made }}</li></a>
	</ul>

	<div>
		
		<p>
			<h4>Description: </h4>
			{{ profile.description }}
		</p>
	</div>
</body>