<head>
	<title>{{ account.first_name }} {{ account.last_name }}</title>
</head>

<body>
	{% if account.is_worker %}
		<div>
			<h3>
				Worker: {{ account.first_name }} {{ account.last_name }}
			</h3>
		</div>
	{% else %}
		<div>
			<h3>
				Studier: {{ account.first_name }} {{ account.last_name }}
			</h3>
		</div>
	{% endif %}
	<ul>
		{% if account.is_worker %}
			<li> Task Completed: {{ tasks_completed }} </li>
		{% endif %}
		<li>Majoring in: {{ major }}</li>
		<a href="{% url 'task:user_tasks' pk=profile.pk %}"><li>Task Made: {{ tasks_made }}</li></a>
	</ul>

	<div>
		<p>
			<h4>Description: </h4>
			{{ profile.description }}
		</p>
	</div>
</body>