{% extends 'tasks/taskDetail.html' %}
{% block user_actions %}
	{% if accepted %}
		<form method="POST" action="{% url 'tasks:create_review' task_pk=task.pk %}">
			{% csrf_token %}	
			<button type="submit" class="btn btn-success">Complete Task</button>
		</form>
	{% else %}

		

		<form method="POST" action="{% url 'tasks:accept_task' pk=task.pk %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-success">ACCEPT TASK AS IS</button>
		</form>


		<a href="{% url 'tasks:create_bid' task.pk %}"><button type="submit" class="btn btn-success">Bid</button></a>
	{% endif %}
{% endblock %}


