
<head>
    <title>WorkStudie</title>
</head>
<html>
    <nav>
        <ul>
            <li><a>WorkStudie</a></li>
            <li><a>Tasks</a></li>
            <li><a>Profile</a></li>
            <div>
                <li><a>Sign in</a></li>
            </div>
        </ul>
    </nav>
    <body>
        <div>
            <h1>Task Description</h1>
            <p>
                Generic discription being placed here purely so I can look at it
                and see what it's like to have a full page of text. You know What
                I'm saying do you watch Trailer Park Boys?
            </p>
            <h5>10.00</h5>
            <h6>Lowest Bid</h6>
        </div>
        <div>
            <a>Worker Actions</a>
        </div>
    </body>
</html>
<!--
<head>
	{% load static %}
	<title>WorkStudie</title>

	<link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="{% static 'styles/cover.css' %}" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/taskDetail.css' %}">
</head>

<body>
	<h1>{{ task.title }}</h1>
	<a href="{{ task.creator.profile.get_absolute_url }}"><h3>Creator: {{task.creator.first_name}} {{task.creator.last_name}}</h3></a>
	<div>
		<p>{{ task.discription }}</p>
		<p> Creator Suggested Price: ${{ task.suggested_price }}</p>
		{% block worker_content %}{% endblock %}
		</br>
		{% block user_actions %}
		{% endblock %}
	</div>
	<div>
			{% if completed %}
					<p><strong>Task has been completed</strong><p>

					<p>
						The winning bid was: {{bid.bid}}
					</p>
			
			{% elif accepted %}
							
				<p>
					<stong>
						Task has been accepted, and the winning bid was
					</stong>
				</p>
				<p>The winning bid was: {{ task.accepted_bid.bid }}</p>
					

			{% else %}
				<p style="text-allign:center; margin-top: 3em;">
					<strong>
						Task has yet to be accepted
					</strong>
				</p>
			{% endif %}
	</div>

<a href="{% url 'tasks:task_list' %}">
	<div id="home_btn">
		<p class="center" >Return to List</p>
	</div>
</a>
		
	
</body>
!-->