{% extends 'tasks/taskDetail.html' %}

{% block user_actions %}
	{% if bid %}
		{% load static %}
		 <link type="text/css" href="{% static 'css/task_list.css' %}" rel="stylesheet"/>
		
		{% if not accepted %}
			{% for bid in bids %}
				<div>
					<form method="GET" action="{% url 'task:accept_bid' task_pk=task.pk bid_pk=bid.pk %}">
						{% csrf_token %}	
						<button type="submit" class="btn btn-success">Accept Bid</button>
					</form>
				</div>
			{% endfor %}
		{% elif not completed %}
			<div>
				<form action="{% url 'task:create_review' task_pk=task_pk %}">
				{% csrf_token %}
			
					<button type="submit" class="btn btn-success">Complete Task</button>
				</form>
			</div>
		{% endif %}
	
	{% else%}
	
		<p class="center"><strong>There are currently no bids</strong></p>
	
	{% endif %}
{% endblock %}
